html, body {
    height: 100%;

}

body {
    position: relative;
    background-image: url("../Contenu/images/alaska2.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}

#contenu .tab_abusif:hover {
    background-color: greenyellow;
}

.episode_contenu {
    font-family: 'Raleway', sans-serif;
    border: 1px blue solid;
    background-color: white;
    padding: 15px;
    font-size: 1.5em;
    margin-bottom: 10px; /* espace le bouton commenter */
    word-wrap: break-word;
}

.commentaire_contenu {
    font-family: 'Indie Flower', cursive;;
    border: 1px limegreen solid;
    background-color: navajowhite;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#global hr {
    border: 0;
    height: 2px;
    background-image: radial-gradient(#cc18ff, #ffaa27);
}

.episode_titre {
    font-family: 'Courgette', cursive;
    text-align: center;
    color: green;
}

.titreEpisode {
    font-family: 'Courgette', cursive;
    margin-bottom: 0;
}

#global {
    opacity: .8;
    z-index: 1;
    min-height: 100%; /* 100% de la hauteur du view-port*/
    background: silver;
    width: 70%;
    margin: auto; /* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}

#contenu {
    margin-bottom: 20px;
}

.indication strong {
    font-size: larger;
    color: blueviolet;
}

.bienvenue {
    font-family: 'Merienda', cursive;
    text-align: center;
}

#titreReponses {
    font-size: 100%;
}

#txtCommentaire {
    width: 50%;
}

.deconnect {
    float: right;
}

.commentaire_enfant {
    padding-left: 30px;
}

.commentaire_form .btn {
    margin-bottom: 100px;

}

.commentaire_form, .commentaire_affich {
    margin-bottom: 20px;
    width: 100vh;
}

.admin {
    margin-top: 25vh;
}

/* affiche les boutons commentaire et abusif sur une même ligne */
#bouton_commenter, #bouton_abusif {
    display: inline-block;
    margin-bottom: 15px;
}

#photo_jf img {
    margin: auto;
    width: 70px;
}

.aPropos {
    font-weight: bolder;
    text-align: justify;
    width: 13%;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 6px 6px 6px #ffb20d;
    background-color: darkgoldenrod;
    position: fixed;
    top: 10px;
    right: 1%;
    padding: 1% 1%;
    font-size: small;
}

.aPropos h1 {
    font-size: 1.8em;
}

.dernCommentaires {
    width: 13%;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 6px 6px 6px #73b3ff;
    background-color: #95b85c;
    position: fixed;
    top: 10px;
    left: 1%;
    padding: 1% 1%;

}

.dernCommentaires li {
    word-wrap: break-word;
    text-align: justify;
    font-size: .8em;
}

@media all and (max-width: 1024px) {
    body aside {
        display: none;
    }
}


